<package-def>
    <class name="ПровайдерИнтеграцииJira" file="classes/ПровайдерИнтеграцииJira.os"/>
    <class name="ПровайдерИнтеграцииRabbitMQ" file="classes/ПровайдерИнтеграцииRabbitMQ.os"/>
    <class name="ПровайдерИнтеграцииRedmine" file="classes/ПровайдерИнтеграцииRedmine.os"/>
    <class name="ПровайдерИнтеграцииSentry" file="classes/ПровайдерИнтеграцииSentry.os"/>
    <class name="ПровайдерИнтеграцииСППР2" file="classes/ПровайдерИнтеграцииСППР2.os"/>
    <class name="ФайловоеХранилище" file="classes/ФайловоеХранилище.os"/>
    <module name="МенеджерНастроек" file="modules/МенеджерНастроек.os"/>
    <module name="ЗапросыИнфоОбОшибке" file="modules/ЗапросыИнфоОбОшибке.os"/>
    <module name="ОтчетыОбОшибках" file="modules/ОтчетыОбОшибках.os"/>
</package-def>