<h1>Dashboard</h1>
<div class="container">
<div class="card-deck">
  @* <div class="card">
    <img src="~/img/db.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ошибки по ИБ</h5>
      <p class="card-text">Статистика ошибок по информационным базам</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Последнее обновление: 6 минут назад</small>
    </div>
  </div>
  <div class="card">
    <img src="~/img/db.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ошибки по версиям платформы</h5>
      <p class="card-text">Статистика ошибок по версиям платформы</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Последнее обновление: 3 минуты назад</small>
    </div>
  </div>
  <div class="card">
    <img src="~/img/db.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Прочее</h5>
      <p class="card-text">Прочие отчеты</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Последнее обновление: 4 минуты назад</small>
    </div>
  </div> *@
</div>
</div>